<audio id="audio1"><source src="../sounds/game3/A.MP3" type="audio/mp3" /></audio>
<audio id="audio2"><source src="../sounds/game3/E.MP3" type="audio/mp3" /></audio>
<audio id="audio3"><source src="../sounds/game3/F.MP3" type="audio/mp3" /></audio>
<audio id="audio4"><source src="../sounds/game3/G.MP3" type="audio/mp3" /></audio>


<ion-content>
    <div class="bar bar-header">
        <p> GAME 3 </p>
    </div>

    <ion-content class="has-header has-footer">

        <p> SCORE {{score}} </p>


        <div class="row">
            <div class="col col-game3"> <img id="color1" ng-click="check(1)" src="../img/game3/color1.png" class="game3Pics"> </div>
            <div class="col col-game3"> <img id="color2" ng-click="check(2)" src="../img/game3/color2.png" class="game3Pics"> </div>
        </div>

        <div class="row">
            <div class="col col-game3"> <img id="color3" ng-click="check(3)" src="../img/game3/color3.png" class="game3Pics"> </div>
            <div class="col col-game3"> <img id="color4" ng-click="check(4)" src="../img/game3/color4.png" class="game3Pics"> </div>
        </div>


    </ion-content>
</ion-content>