<ion-content scroll="false">
        <ion-slide-box show-pager="false" class="catalogueSlider" on-slide-changed="slideChanged(index)">
            <ion-slide><img src="./img/game4/1.png"></ion-slide>
            <ion-slide><img src="./img/game4/2.png"></ion-slide>
            <ion-slide><img src="./img/game4/3.png"></ion-slide>
            <ion-slide><img src="./img/game4/4.png"></ion-slide>
            <ion-slide><img src="./img/game4/5.png"></ion-slide>
            <ion-slide><img src="./img/game4/6.png"></ion-slide>
            <ion-slide><img src="./img/game4/7.png"></ion-slide>
            <ion-slide><img src="./img/game4/8.png"></ion-slide>
            <ion-slide><img src="./img/game4/9.png"></ion-slide>
            <ion-slide><img src="./img/game4/10.png"></ion-slide>
            <ion-slide><img src="./img/game4/11.png"></ion-slide>
            <ion-slide><img src="./img/game4/12.png"></ion-slide>
            <ion-slide><img src="./img/game4/13.png"></ion-slide>
            <ion-slide><img src="./img/game4/14.png"></ion-slide>
            <ion-slide><img src="./img/game4/15.png"></ion-slide>
            <ion-slide><img src="./img/game4/16.png"></ion-slide>
            <ion-slide><img src="./img/game4/17.png"></ion-slide>
            <ion-slide><img src="./img/game4/18.png"></ion-slide>
            <ion-slide><img src="./img/game4/19.png"></ion-slide>
            <ion-slide><img src="./img/game4/20.png"></ion-slide>
            <ion-slide><img src="./img/game4/21.png"></ion-slide>
            <ion-slide><img src="./img/game4/22.png"></ion-slide>
            <ion-slide><img src="./img/game4/23.png"></ion-slide>
            <ion-slide><img src="./img/game4/24.png"></ion-slide>
            <ion-slide><img src="./img/game4/25.png"></ion-slide>
            <ion-slide><img src="./img/game4/26.png"></ion-slide>
            <ion-slide><img src="./img/game4/27.png"></ion-slide>
            <ion-slide><img src="./img/game4/28.png"></ion-slide>
        </ion-slide-box>

    <!--pause button-->
    <img class="openModalButton" src="./img/pause.png" ng-click="openModal('jelly')">

    <!--pause modal-->

    <script id="pause-modal" type="text/ng-template">
        <ion-modal-view class="ion-nifty-modal">
            <div class="ion-modal-content-custom">
                <ion-content scroll="false" class="padding">

                    <img class="game1ModalPic" src="./img/game4/swipe.png">
                    <h4 style="text-align: center"> امسح على الشاشة و اكتشف الحروف </h4>

                    <!--close button-->
                    <img  class="closeModalButton" src="./img/close.png" ng-click="closeModal()">
                    <!--home button-->
                    <a href="#/welcome" ng-click="closeModal()"><img class="homeButton" src="./img/home.png"></a>
                    <!--back button-->
                    <a href="#/games" ng-click="closeModal()"><img class="backButton" src="./img/back.png"></a>
                </ion-content>
            </div>
        </ion-modal-view>
    </script>

</ion-content>