.scroll {
    height: 100%;
}

.gamesListImage {
    border: 5px solid #90278e;
    height: 100%;
    width: 100%;
}

.col {
    width: 50%;
    height: 200px;
    /*border: 3px solid #ee586f;*/
}

.gamesList {
    /*border: 3px solid #000000;*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.gamesSelectText {
    /*background-color: #4b8bf4;*/
    position: absolute;
    top: 8%;
    width: 100%;
    height: auto;
    text-align: center;
    color: #90278e;
    font-size: 350%;
    font-weight: bold;
    font-family: "kidsFont";
}

@font-face {
    font-family: kidsFont;
    src: url(../fonts/A_Nefel_Botan.ttf);
}

.homeButtonGames {
    height: 8%;
    width: 15%;
    position: absolute;
    bottom: 2%;
    right: 42%;
}

.gameText{
    font-family: 'kidsFont';
}