.col-game3{
    border: 3px solid #000000;
}

.game3Pics{
    /*filter: invert(100%);*/
    height: 100%;
    width: 100%;
}

.game{
    margin-top: 20%;
}

.score{
    font-size: 150%;
    margin-top: 5%;
    margin-left: 70%;
}