.scroll {
    height: 100%;
}

.gamesListImage {
    border: 2px solid #000000;
    height: 100%;
    width: 100%;
}

.col {
    width: 50%;
    height: 200px;
    /*border: 3px solid #ee586f;*/
}

.gamesList {
    /*border: 3px solid #000000;*/
    position: relative;
    top: 60%;
    transform: translateY(-60%);
}

.gamesSelectText {
    /*background-color: #4b8bf4;*/
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    text-align: center;
    color: #ee0f00;
    font-size: 250%;
    font-weight: bold;
    font-family: "Courier New";
}

.homeButtonGames {
    height: 8%;
    width: 15%;
    position: absolute;
    bottom: 2%;
    right: 42%;
}