.welcomeButton {
    position: relative;
    color: rgb(184, 228, 235);
    text-decoration: none;
    background-color: rgb(129, 63, 136);
    font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 250%;
    display: block;
    padding: 4%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgb(83, 45, 90), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgb(83, 45, 90), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgb(83, 45, 90), 0px 9px 25px rgba(0,0,0,.7);
    margin: 10% auto;
    width: 60%;
    text-align: center;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

.welcomeButton:active {
    -webkit-box-shadow: 0px 3px 0px rgb(83, 45, 90), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgb(92, 50, 100), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgb(108, 58, 117), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 7%;
}