.background{
    width: 100%;
    height: 100%;
    background-image: url("../img/background.jpg");
    position: relative;
}

.buttons{
    /*border: 3px solid #000000;*/
    position: relative;
    top: 60%;
    transform: translateY(-60%);
}

.welcomeButton{

}

.facebookPic{
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.logoPic{
    position: absolute;
    top: 5%;
    width: 100%;
}